* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid blue;
    
}

input {
    padding: 12px 24px;
    align-items: center;
    border-radius: 30px;
}